<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhibodata.gis.kfqpopulation.mapper.BuilidingInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhibodata.gis.kfqpopulation.model.BuilidingInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="estate_id" jdbcType="VARCHAR" property="estateId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="building_num" jdbcType="INTEGER" property="buildingNum" />
    <result column="lat" jdbcType="NUMERIC" property="lat" />
    <result column="lng" jdbcType="NUMERIC" property="lng" />
  </resultMap>
</mapper>