<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhibodata.gis.kfqpopulation.mapper.OldPeopleVisitMapper">
  <resultMap id="BaseResultMap" type="com.zhibodata.gis.kfqpopulation.model.OldPeopleVisit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_data" jdbcType="TIMESTAMP" property="updateData" />
    <result column="delete_status" jdbcType="VARCHAR" property="deleteStatus" />
    <result column="vist_time" jdbcType="TIMESTAMP" property="vistTime" />
    <result column="vister" jdbcType="VARCHAR" property="vister" />
    <result column="vist_content" jdbcType="VARCHAR" property="vistContent" />
    <result column="personal_card" jdbcType="NUMERIC" property="personalCard" />
  </resultMap>
</mapper>